

    th,td{
        text-align: center;
        padding:10px;
    }
    table{
        width:80%;
        border-collapse: collapse;
        margin:auto;
    }
    tr:nth-child(even){
        background-color: rgba(110, 255, 205, 0.3);
    }
    tr:nth-child(odd){
        background-color: rgba(255, 97, 116, 0.3);
    }
    th{
        background-color: forestgreen;
        color:white;
    }
    body{
        background-image: url("../../Resources/IMAGE/Bitm.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
